.top-nav {
  width: 100%;
  line-height: 40px;
  font-size:20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  text-align: center;
  background-color: #6f6f6f;
  color: #eeeeee;
}

.top-nav a {
  text-decoration: none;
  font-weight: 200;
  color: #f7d54e;
}

.top-nav a:hover {
  font-weight: 400;
  font-size:20px;
}

.css-doodle {
  display: block;
  width: 250px;
  height: 250px;
  position: relative;
  margin: 0 auto;

}

.container {
  display: inline-block;
  position: relative;
  width: 49.8%;
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.description-text {
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: 200;
}

.description-text:hover {
  font-size: 20px;
  font-weight: 400;
}

@media only screen and (max-width : 800px) {
  .container {
    width: 100%;
  }
}
